h1 {border-style: dotted;
}
 
#wrap {border-style: dotted;
background: lightyellow;
  padding: auto;
  width: 700px;
  text-align:center;
  margin-left:350px;
  font-size:23px;
}
body { 
padding-left:70px;
padding-right:70px;
padding-bottom:20px;
background: BurlyWood;
 margin-bottom: 48px;

}